{% extends 'base.html.twig' %}
{% block body %}
    <div>{{ render(controller('AppBundle:Panier:menu')) }}</div>
    <div class="row">
        {% for produit in product %}
            <section>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-lg-offset-1"
                     style="height:200px;">
                    <div class="span7">

                        <ul><img style="max-width:200px; margin-top: 20px;"
                                 src="{{ asset('uploads/pictures/' ~ produit.picture) }}"></ul>
                        <ul>{{ produit.productname }}</ul>
                        <ul>{{ produit.productdescription }}</ul>
                        <ul>Prix: {{ produit.unitaryprice }} € <p></ul>
                                {% if panier[produit.id] is not defined %}
                            <form action="{{ path('ajouter', { 'id' : produit.id }) }}" method="get">
                                <select name="qte" class="span1">
                                    {% for i in 1..10 %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>

                                <div>
                                    <button class="btn btn-primary">Ajouter au panier</button>
                                </div>
                            </form>
                        {% else %}
                            <div>
                                <a href="{{ path('panier') }}" class="btn btn-primary">Le produit est déjà dans votre
                                    panier</a>
                            </div>
                            {% endif %}

                            {#
                            <!--
                            <form action="{{ path('ajouter', {'id' : produit.id}) }}" method="get">
                                <select name="qte" class="span1">
                                    {%for i in 1..10%}
                                    <option value="{{  i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                                <div>
                                    <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>Ajouter</button>
                                </div>
                            </form>
                            !-->
                            #}


                    </div>
                </div>

            </section>
        {% endfor %}
    </div>

{% endblock %}
